/* CSS HEX */
--van-dyke: #38302eff;
--dark-spring-green: #226f54ff;
--pistachio: #87c38fff;
--honolulu-blue: #0077b6ff;
--snow: #fcf7f8ff;

/* CSS HSL */
--van-dyke: hsla(12, 10%, 20%, 1);
--dark-spring-green: hsla(159, 53%, 28%, 1);
--pistachio: hsla(128, 33%, 65%, 1);
--honolulu-blue: hsla(201, 100%, 36%, 1);
--snow: hsla(348, 45%, 98%, 1);

/* SCSS HEX */
$van-dyke: #38302eff;
$dark-spring-green: #226f54ff;
$pistachio: #87c38fff;
$honolulu-blue: #0077b6ff;
$snow: #fcf7f8ff;

/* SCSS HSL */
$van-dyke: hsla(12, 10%, 20%, 1);
$dark-spring-green: hsla(159, 53%, 28%, 1);
$pistachio: hsla(128, 33%, 65%, 1);
$honolulu-blue: hsla(201, 100%, 36%, 1);
$snow: hsla(348, 45%, 98%, 1);

/* SCSS RGB */
$van-dyke: rgba(56, 48, 46, 1);
$dark-spring-green: rgba(34, 111, 84, 1);
$pistachio: rgba(135, 195, 143, 1);
$honolulu-blue: rgba(0, 119, 182, 1);
$snow: rgba(252, 247, 248, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);
$gradient-right: linear-gradient(90deg, #38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);
$gradient-bottom: linear-gradient(180deg, #38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);
$gradient-left: linear-gradient(270deg, #38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);
$gradient-top-right: linear-gradient(45deg, #38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);
$gradient-bottom-right: linear-gradient(135deg, #38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);
$gradient-top-left: linear-gradient(225deg, #38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);
$gradient-bottom-left: linear-gradient(315deg, #38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);
$gradient-radial: radial-gradient(#38302eff, #226f54ff, #87c38fff, #0077b6ff, #fcf7f8ff);